/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
/*add bank info style*/
.modal-content{ border-radius: 6px !important;}
a{color:#008cdd;}
.addinfo-btn{background: #eff1f4; /* Old browsers */
background: -moz-linear-gradient(top, #eff1f4 0%, #f7f8fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff1f4), color-stop(100%,#f7f8fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eff1f4 0%,#f7f8fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eff1f4 0%,#f7f8fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eff1f4 0%,#f7f8fa 100%); /* IE10+ */
background: linear-gradient(to bottom, #eff1f4 0%,#f7f8fa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f4', endColorstr='#f7f8fa',GradientType=0 ); /* IE6-9 */ border: 1px solid #adb2bb;
    border-radius: 5px !important;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    text-shadow: 0 1px 0 #fff;}
.addinfo-btn span{ color: #999; font-weight: normal; font-size: 9px; vertical-align: text-top;}
p .go-arrow{ font-size: 10px;}
.modal label{ padding-top:0; }
.modal.paymentmethods .modal-dialog{ width:750px; }
.paymentmethods #manageBankAccounts .form-group{border-bottom: 1px solid #eee;}
.paymentmethods #manageBankAccounts .form-group:last-child{ border: none;}
.text{padding: 10px 0; color: #666;}
.small-title{color: #333; padding-right: 10px; font-size: 15px;}
.main-btn,.main-btn-new { 
	border: 1px solid #28a0e5 !important;
    border-radius: 4px !important;
    box-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255, 0.3) inset, 0 0 9px -4px rgba(255, 255, 255, 0.5) inset !important;
    color: #fff !important;
    font-size: 14px ;
    padding: 6px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    background: #7dc5ee !important; /* Old browsers */
background: -moz-linear-gradient(top, #7dc5ee 5%, #008cdd 84%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#7dc5ee), color-stop(84%,#008cdd)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7dc5ee 5%,#008cdd 84%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7dc5ee 5%,#008cdd 84%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7dc5ee 5%,#008cdd 84%) !important; /* IE10+ */
background: linear-gradient(to bottom, #7dc5ee 5%,#008cdd 84%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc5ee', endColorstr='#008cdd',GradientType=0 ) !important; /* IE6-9 */ }
.main-btn:hover,.main-btn:active,.main-btn:focus,.main-btn-new:hover,.main-btn-new:active,.main-btn-new:focus{background: #7dc5ee !important; /* Old browsers */
background: -moz-linear-gradient(top, #7dc5ee 5%, #008cdd 84%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#7dc5ee), color-stop(84%,#008cdd)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7dc5ee 5%,#008cdd 84%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7dc5ee 5%,#008cdd 84%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7dc5ee 5%,#008cdd 84%) !important; /* IE10+ */
background: linear-gradient(to bottom, #7dc5ee 5%,#008cdd 84%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc5ee', endColorstr='#008cdd',GradientType=0 ) !important; /* IE6-9 */}

.paymentmethods .modal-footer{ background: #ecf0f4 linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)) repeat scroll 0 0; border-top: 1px solid #ced4dc;}
.modal .modal-header h3,.addaccountdetail h4.modal-title ,.paymentlinkconfirmation .modal-header .modal-title, .requestlinkconfirmation .modal-header .modal-title,.registerform .modal-header .modal-title, .settingsbox  .modal-header .modal-title{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.addaccountdetail {
	top:9% !important;
}
.transferoptions{ top:9% !important; }
.transferoptions .modal-content {  width:400px;margin:0 auto; }
.cancel-btn{border-radius: 4px !important; background: #f7f8fa !important; /* Old browsers */
background: -moz-linear-gradient(top, #f7f8fa 4%, #eff1f4 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f7f8fa), color-stop(100%,#eff1f4)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f8fa 4%,#eff1f4 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f8fa 4%,#eff1f4 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f8fa 4%,#eff1f4 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #f7f8fa 4%,#eff1f4 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8fa', endColorstr='#eff1f4',GradientType=0 ) !important; /* IE6-9 */ border:1px #ccd0d6 solid; color: #333;  font-size: 14px; padding: 5px 15px;    box-shadow: 0 1px 0 #fff inset; text-shadow: 0 1px 0 #fff;}
.off-red-btn{border-radius: 4px !important; border:1px #e52828 solid;  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #fff;  padding: 5px 15px; font-size: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: #ee7d7d; !important /* Old browsers */
background: -moz-linear-gradient(top, #ee7d7d 4%, #df1010 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ee7d7d), color-stop(100%,#df1010)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ee7d7d 4%,#df1010 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ee7d7d 4%,#df1010 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ee7d7d 4%,#df1010 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #ee7d7d 4%,#df1010 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7d7d', endColorstr='#df1010',GradientType=0 ) !important; /* IE6-9 */}
.off-red-btn:active, .off-red-btn:hover, .off-red-btn:focus{ color:#fff;background: #df1010 !important;; /* Old browsers */
background: -moz-linear-gradient(top, #df1010 0%, #ee7d7d 96%) !important;; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df1010), color-stop(96%,#ee7d7d)) !important;; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #df1010 0%,#ee7d7d 96%) !important;; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #df1010 0%,#ee7d7d 96%) !important;; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #df1010 0%,#ee7d7d 96%) !important;; /* IE10+ */
background: linear-gradient(to bottom, #df1010 0%,#ee7d7d 96%) !important;; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df1010', endColorstr='#ee7d7d',GradientType=0 ) !important;; /* IE6-9 */}

.paymentlinkconfirmation .modal-content{ width:400px !important; }
.requestlinkconfirmation .modal-content{ width:400px !important; }


.logo-title {
    color: #007fc4;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}
#loginForm > div#signform {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px !important;
    margin: 10% auto;
    padding: 20px;
    width: 350px;
}

.form-horizontal .control-label {
       padding-right: 0;
    }
.help-error{ color:red; }
.input-group.date.date-picker.col-md-5 {
    padding-left: 15px;
    padding-right: 5px;
}
.login .page-content{
	background-color:#364150 !important;
}
#loginForm .form-group{ margin-left:0; margin-right:0;}
.login .page-container{ margin-top:0px !important; }
button#loginbtn{ float:right; }
.login .content .rememberme{ margin-left:0px !important; }
.login div.checker{ margin-left:0px !important; }
.login .content .forget-password{ float:left !important; }
#register-submit-btn{ margin-right:18px;}
.login .content .check{ margin-left:15px !important; }
.form-group.margin-top-20.margin-bottom-20.has-error{ clear:both; }
.portlet-body div.dataTables_wrapper .table-scrollable table.dataTable tbody tr.priority-yellow{ border-left: 4px solid yellow !important; }
.portlet-body div.dataTables_wrapper .table-scrollable table.dataTable tbody tr.priority-orange{ border-left: 4px solid orange !important; }
.portlet-body div.dataTables_wrapper .table-scrollable table.dataTable tbody tr.priority-red{ border-left: 4px solid red !important; }
.portlet-body div.dataTables_wrapper .table-scrollable table.dataTable tbody tr.priority-green{ border-left: 4px solid green !important; }
