/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
/*add bank info style*/
.modal-content{ border-radius: 6px !important;}
a{color:#008cdd;}
.addinfo-btn{background: #eff1f4; /* Old browsers */
background: -moz-linear-gradient(top, #eff1f4 0%, #f7f8fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff1f4), color-stop(100%,#f7f8fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eff1f4 0%,#f7f8fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eff1f4 0%,#f7f8fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eff1f4 0%,#f7f8fa 100%); /* IE10+ */
background: linear-gradient(to bottom, #eff1f4 0%,#f7f8fa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f4', endColorstr='#f7f8fa',GradientType=0 ); /* IE6-9 */ border: 1px solid #adb2bb;
    border-radius: 5px !important;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    text-shadow: 0 1px 0 #fff;}
.addinfo-btn span{ color: #999; font-weight: normal; font-size: 9px; vertical-align: text-top;}
p .go-arrow{ font-size: 10px;}
.modal label{ padding-top:0; }
.modal.paymentmethods .modal-dialog{ width:750px; }
.paymentmethods #manageBankAccounts .form-group{border-bottom: 1px solid #eee;}
.paymentmethods #manageBankAccounts .form-group:last-child{ border: none;}
.text{padding: 10px 0; color: #666;}
.small-title{color: #333; padding-right: 10px; font-size: 15px;}