<div class="row" style="text-align:center;">
	
</div>

<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form name="setPasswordForm" novalidate method="post" ng-controller="SetPasswordController" id="setPasswordForm" class="form-horizontal login-form">
		<!--<h3 class="form-title">Sign In</h3>-->
		<div class="alert alert-danger display-hide" id="registerformalert">
			<button class="close" data-close="alert">Problem updating password</button>
			<span>
			</span>
		</div>
		<div class="alert alert-success display-hide" id="registerformsucess">
			<button class="close" data-close="alert"></button>
			<span>
			Vendor password updated sucessfully</span>
		</div>
		<div class="logo">
			<a href="javascript:void(0);">
				<img src="{{ apppath }}/assets/admin/layout/img/taste-black.png" alt=""/>
			</a>
		</div>
		<div id="site_statistics_loading" style="display:none;">
				<img src="{{ apppath }}/assets/admin/layout/img/loading.gif" alt="loading"/>
		</div>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
		</div>
		
		<div class="form-group">
			
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="username" ng-model="password" name="password" id="password"  required />
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password"  id="confirmpassword" name="confirmpassword" ng-model="confirmpassword" required/>
		</div>
		<input type="hidden" name="invitedemail" value="" id="invitedemail" ng-model="invitedemail" >
		<input type="hidden" name="inviteid" value="" id="inviteid" ng-model="inviteid" >
		<div class="form-group">
			<button type="submit" class="btn btn-success uppercase" id="loginbtn">Update</button>
		</div>
		<button type="submit" style="display:none !important;" ng-click="updatePassword()" id="updatepassword" class="btn btn-success">Update</button>
	</form>
	<!-- END LOGIN FORM -->
	<!-- BEGIN REGISTRATION FORM -->
<div class="copyright">
	 2015 © Taste.
</div>

<style type="text/css">
.modal-footer{ display:none; }
.form-group.watch-field .form-control {
    display: inline-block;
   width: 43.5%;
}
.form-group.watch-field .input-group-addon{   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    display: inline-block;
    padding: 14px 0;
    vertical-align: top;
    width: 11%;}
    .checker span.help-block{width:200px; background:transparent !important;}
</style>
