<div class="row" style="text-align:center;">
	
</div>

<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form name="loginForm" novalidate method="post" ng-controller="LoginController" id="loginForm" class="form-horizontal login-form">
		<!--<h3 class="form-title">Sign In</h3>-->
		<div class="logo">
			<a href="javascript:void(0);">
				<img src="{{ apppath }}/assets/admin/layout/img/taste.png" alt=""/>
			</a>
		</div>
		<div id="site_statistics_loading" style="display:none;">
				<img src="{{ apppath }}/assets/admin/layout/img/loading.gif" alt="loading"/>
		</div>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
		</div>
		
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Email Address</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email Address" name="username" ng-model="email" name="email" id="email"  required />
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"  id="password" name="password" ng-model="password"  placeholder="password" required/>
		</div>
		
		<div class="form-group">
			<label class="rememberme">
			<input type="checkbox" name="remember" value="1"/>Remember </label>
			<button type="submit" class="btn btn-success uppercase" id="loginbtn">Login</button>
		</div>
		<div class="form-group">
			<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
		</div>
		<!--<div class="login-options">
			<h4>Or login with</h4>
			<ul class="social-icons">
				<li>
					<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
				</li>
				<li>
					<a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
				</li>
				<li>
					<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
				</li>
				<li>
					<a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
				</li>
			</ul>
		</div>-->
		<div class="create-account">
			<p>
				<a href="javascript:;" id="register-btn" class="uppercase" ng-click="createAccount()">Create an account</a>
			</p>
		</div>
		<button type="submit" style="display:none !important;" ng-click="login()" id="submit_button_login" class="btn btn-success">Login</button>
	</form>
	<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form" action="index.html" method="post">
		<h3>Forget Password ?</h3>
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		<div class="form-group">
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn btn-default">Back</button>
			<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
	<!-- BEGIN REGISTRATION FORM -->
	<form class="register-form" novalidate method="post" ng-controller="LoginController" id="registerForm" class="form-horizontal">
		<div class="alert alert-danger display-hide" id="registerformalert">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
		</div>
		<div class="alert alert-success display-hide" id="registerformsucess">
			<button class="close" data-close="alert"></button>
			<span>
			Vendor Account created sucessfully</span>
		</div>
		<div class="logo">
			<a href="javascript:void(0);">
				<img src="{{ apppath }}/assets/admin/layout/img/taste.png" alt=""/>
			</a>
		</div>
		<p class="hint" style="margin-left:15px !important;">
			Vendor & Contact Information:
		</p>
		<div class="col-md-6 nopad">
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Full Name</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Full Name" name="fullname" id="fullname" ng-model="fullname"/>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email_address" id="email_address"  ng-model="email_address"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="register_password" id="register_password" ng-model="register_password"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
			<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" id="rpassword" ng-model="rpassword"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Location</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Location" name="location" id="location" ng-model="location"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Street Address 1</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Street Address 1" name="address" id="address" ng-model="address"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Street Address 2</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Street Address 2" name="address2" id="address2" ng-model="address2"/>
		</div>
		</div>
		<div class="col-md-6 nopad">
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Cross Street</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Cross Street" name="crossstreet" id="crossstreet" ng-model="crossstreet"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Neighborhood</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Neighborhood" name="neighborhood" id="neighborhood" ng-model="neighborhood"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">City/Town</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city"  id="city" ng-model="city"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">State</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="State" name="state" id="state" ng-model="state"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Zip</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Zip" name="zip" id="zip" ng-model="zip"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Business Phone</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Phone" name="phone" id="phone" ng-model="phone"/>
		</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-6">
			<p class="hint">
			Main Point of Contact:
		</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="emailcontact" id="emailcontact" ng-model="emailcontact"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">CellPhone</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Cell Phone" name="contactphone" id="contactphone" ng-model="contactphone"/>
		</div>
		</div>
		
		<div class="col-md-6">
			<p class="hint">
			Meal Production:
		</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">What is the Maximum # of Entrees you can produce for one order ?</label>
			<!--<textarea class="form-control" placeholder="What is the Maximum # of Entrees you can produce for one order ?"  name="entries" rows="3"  id="entries" ng-model="entries" ></textarea>-->
			<input class="form-control placeholder-no-fix" type="text" placeholder="What is the Maximum # of Entrees you can produce for one order ?" name="What is the Maximum # of Entrees you can produce for one order ?" id="entries" ng-model="entries"/>
			
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Notes</label>
			<textarea class="form-control" placeholder="Notes"  name="entries" rows="3"  id="mealnotes" ng-model="mealnotes" ></textarea>
			<!--<input class="form-control placeholder-no-fix" type="text" placeholder="Notes" name="mealnotes" id="mealnotes" ng-model="mealnotes"/>-->
		</div>
		</div>
		
		<div class="col-md-6">
			<p class="hint">
			Location Type:
		</p>
		<div class="form-group" id="locationdata" ng-controller="LoginController">
			<label class="control-label visible-ie8 visible-ie9">Location Type (select one or more or specify)</label>
			<select multiple="multiple" placeholder="Location Type" class="locationtype table-group-action-input form-control input-inline input-small input-sm" name="locationtype" ng-model="blisterPackTemplateSelected" ng-change="changedValue(blisterPackTemplateSelected)" 
			data-ng-options="blisterPackTemplate.resnameid as blisterPackTemplate.name for blisterPackTemplate in blisterPackTemplates">
			</select>
			<input class="form-control placeholder-no-fix" type="text" placeholder="location Type Other" name="locationtypeother" id="locationtypeother" ng-model="locationtypeother" style="display:none;"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Notes</label>
			<textarea class="form-control" placeholder="Notes"  name="entries" rows="3"  id="locationnotes" ng-model="locationnotes" ></textarea>
			<!--<input class="form-control placeholder-no-fix" type="text" placeholder="Notes" name="locationnotes" id="locationnotes" ng-model="locationnotes"/>-->
		</div>
		
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Location Description</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Location Description" name="locationdescription" id="locationdescription" ng-model="locationdescription"/>
			
		</div>
		
		
		</div>
		<div class="col-md-6">
		<div class="form-group" id="daysopendata">
			<label class="control-label visible-ie8 visible-ie9">Days Open</label>
			<select multiple="multiple" placeholder="Days Open" class="daysopen table-group-action-input form-control input-inline input-small input-sm" name="locationtype" ng-model="blisterPackTemplateSelected1" ng-change="changedDay(blisterPackTemplateSelected1)" 
			data-ng-options="blisterPackTemplate1.daynameid as blisterPackTemplate1.dayname for blisterPackTemplate1 in blisterPackTemplatess">
				
			</select>
		</div>
		<div class="form-group watch-field">
			<label class="control-label visible-ie8 visible-ie9">Vendor Business Hours</label>
			<input class="form-control placeholder-no-fix clockface_1" type="text" placeholder="Opening Hour" name="businessopeninghour" id="businessopeninghour" ng-model="businessopeninghour" readonly />
			<span class="input-group-addon"> to </span>
			<input class="form-control placeholder-no-fix clockface_2" type="text" placeholder="Closing Hour" name="businessclosinghour" id="businessclosinghour" ng-model="businessclosinghour" readonly />
			
		</div>
		</div>
		<div class="clearfix"></div>
		<div class="form-group margin-top-20 margin-bottom-20">
			<label class="check">
			<input type="checkbox" name="tnc"/> I agree to the <a href="https://mnmdesignlabs.com/taste/#/agreement" target="_blank">
			Terms of Service </a>
			& <a href="javascript:;">
			Privacy Policy </a>
			</label>
			<div id="register_tnc_error">
			</div>
		</div>
		
		
	
		<div class="form-actions">
			<button type="button" id="register-back-btn" class="btn btn-default" ng-click="showLogin();">Back</button>
			<button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right" >Submit</button>
		</div>
		<button type="submit" style="display:none !important;" class="btn btn-success uppercase pull-right" ng-click="SignUp()" id="createAccount">Submit</button
	</form>
	<!-- END REGISTRATION FORM -->
</div>
<div class="copyright">
	 2015 © Taste.
</div>

<!--<form name="loginForm" novalidate method="post" ng-controller="LoginController" id="loginForm" class="form-horizontal">
 
<div id="site_statistics_loading" style="display:none;">
	<img src="{{ $state.current.data.appPath }}/assets/admin/layout/img/loading.gif" alt="loading"/>
</div>
<div id="w9instruction" ></div>
<div id="signform">
	<div class="logo-title">Taste</div> 
	<div class="form-group">
			<label class="col-md-4 control-label">Email Address</label>
			<div class="col-md-8">
				<input type="text" placeholder="Email Address" class="form-control" value="" ng-model="email" name="email" id="email"  required />
			</div>	
	</div> 

	<div class="form-group">
		<label class="col-md-4 control-label">Password</label>
		<div class="col-md-8">
			<input type="password" id="password" name="password" ng-model="password"  placeholder="password" required class="form-control" />
		</div>
	</div> 
    
	<div class="form-group">
		 <div class="col-md-6 col-md-offset-4">
			<button type="submit"  class="btn main-btn">Login</button>
		</div>
	</div>
</div>
<button type="submit" style="display:none !important;" ng-click="login()" id="submit_button_login" class="btn btn-success">Login</button>
</form>-->
					

					
<script type="text/javascript">
jQuery(document).ready(function() { 
	//UIAlertDialogApi.init();
});
</script>
<style type="text/css">
.modal-footer{ display:none; }
.form-group.watch-field .form-control {
    display: inline-block;
    width: 40%;
}
.form-group.watch-field .input-group-addon{ display:inline-block; width:10%;}
</style>
