<div class="row" style="text-align:center;">
	
</div>


<form name="settingsForm" novalidate style="display:none;" id="settingsForm" class="form-horizontal">
<p style="display:block;" id="vendoraccountloading">Please wait ...</p>
<p style="display:none;" id="tokenexpired">Token link has been expired!</p>
<div id="site_statistics_loading" style="display:block;">
	<img src="{{ $state.current.data.appPath }}/assets/admin/layout/img/loading.gif" alt="loading"/>
</div>
<div id="settinginstruction" style="display:none;"></div>
<div id="settingsform" style="display:none;"> 
	<div class="form-group">
			<label class="col-md-5 control-label">Test Secret Key:</label>
			<div class="col-md-5">
				<input type="text" placeholder="Test Secret Key" class="form-control" value="" name="test_secret_key" id="test_secret_key" />
			</div>	
	</div> 

	<div class="form-group">
		<label class="col-md-5 control-label">Test Publishable Key:</label>
		<div class="col-md-5">
			<input type="text" id="test_publishable_key" name="test_publishable_key" placeholder="Test Publishable Key" required class="form-control" />
		</div>
	</div>
	
	<div class="form-group">
			<label class="col-md-5 control-label">Live Secret Key:</label>
			<div class="col-md-5">
				<input type="text" placeholder="Live Secret Key" class="form-control" value="" name="live_secret_key" id="live_secret_key" />
			</div>	
	</div> 

	<div class="form-group">
		<label class="col-md-5 control-label">Live Publishable Key:</label>
		<div class="col-md-5">
			<input type="text" id="live_publishable_key" name="live_publishable_key" placeholder="Live Publishable Key" required class="form-control" />
		</div>
	</div>
	<input type="hidden" name="actiontype" value="0" id="actiontype">
	<div class="col-md-12 col-sm-12 col-xs-12 text-center nopad" ng-controller="SidebarController">
		<span id="live" class="settingtext">live</span>
		<div ng-click="changeSettingStatus();" id="checkwrapper" class="checkwrapper" openstatus="0">
			<div class="state on th-popup popover-dismiss-acc" data-placement="right" ></div>
			<div class="state off th-popup popover-dismiss-acc active"></div>
		</div>
		<span id="test" class="settingtext bright-text">test</span>
	</div>
	<div class="form-group">
		 <div class="col-md-6 col-md-offset-5">
			<button type="submit" class="btn btn-success" id="btnsetting">Save</button>
		</div>
	</div>
</div>
</form>
					

					
<script type="text/javascript">
jQuery(document).ready(function() { 
	UIAlertDialogApi.init();
});
</script>
<style type="text/css">
.modal-footer{ display:none; }

.checkwrapper {
    background: #364150 none repeat scroll 0 0;
    border-radius: 25px !important;
    clear: none;
    color: #000;
    float: none;
    font-size: 13px;
    font-weight: 600;
    height: auto;
    margin: 2px 5px;
    padding: 5px 8px;
    position: relative;
    text-align: center;
    width: 60px;
    display:inline-block;
}
.checkwrapper .state.off {
    background: #1caf9a none repeat scroll 0 0;
    float: right;
}
.checkwrapper .active {
    display: block;
}
.checkwrapper .state {
    border-radius: 10px !important;
    color: #000;
    display: none;
    float: left;
    height: 18px;
    width: 20px !important;
}

.checkwrapper .state.on {
    background: #1caf9a none repeat scroll 0 0;
}

.checkwrapper .state {
    border-radius: 10px;
    color: #000;
    display: none;
    float: left;
    height: 18px;
    width: 50px;
}
.checkwrapper {
    color: #000;
    font-size: 13px;
    text-align: center;
}
.checkwrapper .active {
    display: block;
}
.bright-text{
	color:#1caf9a !important;
}
.settingtext{
	color:#364150;
	display:inline-block;
	padding: 8px;
    vertical-align: top;
}
</style>
